@keyframes show {
           0% {
                      transform: scale(0.1);
           }
           100% {
                      transform: scale(1);
           }
}
@keyframes hide {
           0% {
                      transform: scale(1);
           }
           100% {
                      transform: scale(0.1);
           }
}
@keyframes bounce {
           0% {
                      transform: translateY(0px);
           }
           100% {
                      transform: translateY(10px);
           }
}
* {
           margin: 0;
           padding: 0;
           text-decoration: none;
           list-style: none;
           box-sizing: border-box;
}
html {
           scroll-behavior: smooth;
}
body {
           display: block;
           height: 100vh;
           background-color: rgb(10, 10, 10);
           position: relative;
           transition: .5s ease-in-out;
}
.nav-container {
           width: 100%;
           height: 30px;
           display: flex;
           align-items: center;
           justify-content: space-between;
           padding-left: 5px;
           padding-right: 5px;
           position: sticky;
           top: 0;
           left: 0;
           z-index: 999;
           background-color: rgb(200, 200, 200);
           border-radius: 10px;
           box-shadow: 0px 2px 10px rgba(10, 10, 10, 0.2);
}
.nav-container h1 a {
           text-decoration: none;
           font-family: "Manufacturing Consent", system-ui;
           font-weight: bolder;
           text-shadow: 0px 1px 1px black;
           color: "lightskyblue;
}
.links a img {
           width: 25px;
           height: 25px;
           border-radius: 13px;
           box-shadow: 0px 1px 5px rgba(10, 10, 10, 0.2);
           transition: .5s ease-in-out;
           cursor: pointer;
           &:hover {
                      transform: translateY(-5px);
           }
}
.links img {
           width: 25px;
           height: 25px;
           margin-left: 10px;
           cursor: pointer;
           box-shadow: 0px 1px 1px black;
}
.overflow-container {
           position: absolute;
           width: 100%;
           height: 100vh;
           background: rgba(12, 100, 200, 0.2);
           overflow: hidden;
           display: flex;
           flex-direction: column;
           align-items: center;
           justify-content: center;
           display: none;
           transition: .5s ease-in-out;
           backdrop-filter: blur(10px);
           z-index: 9;
}
.overflow-container.show {
           animation: show 1s ease;
}
.overflow-container li{
           font-size: 25px;
           color: black;
           font-family: French Script MT;
           text-transform: capitalize;
           cursor: pointer;
           transition: all .5s ease;
}
.overflow-container li a {
           color: black;
           transition: all .5s ease;
}
.overflow-container li a:hover {
           color: rgb(0, 187, 255);
}
.overflow-container li:hover {
           transform: scale(1.2);
}
.main-section{
           display: block;
           width: 100%;
           height: 100%;
           background-image: url("Edited.jpg");
           background-repeat: no-repeat;
           background-size: cover;
           background-position: center;
}
.style-back {
           width: 100%;
           height: 100%;
           backdrop-filter: blur(3px) brightness(80%);
           background-color: rgba(51, 51, 51, 0.3);
           display: flex;
           align-items: center;
           justify-content: center;
           flex-direction: column;
           padding: 20px;
}
.style-title {
           font-family: Papyrus;
           font-size: 50px;
           font-weight: bold;
           color: white;
           text-transform: capitalize;
}
.style-content {
           font-family: centaur;
           font-size: 15px;
           color: white;
           width: 50%;
           text-align: center;
}
.style-content span {
           color: lightblue;
           text-shadow: 0px 1px 1px black;
}
.style-button button {
           width: 150px;
           height: 50px;
           border: none;
           border-radius: 25px;
           background-color: lightblue;
           box-shadow: 0px 2px 2px black;
           font-family: centaur;
           font-weight: bold;
           color: black;
           margin-top: 20px;
           font-size: 15px;
           cursor: pointer;
           transition: .5s ease-in-out;
           &:hover {
                      transform: scale(1.1);
           }
}
.footer {
           width: 100%;
           display: block;
           background-color: rgb(38, 38, 38);
           display: flex;
           flex-direction: column;
           align-items: center;
           justify-content: center;
           padding: 50px;
           gap: 20px;
}
.fo1, .fo3 {
           font-family: centaur;
           font-weight: bold;
           font-size: 14px;
           transition: .5s ease-in-out;
           animation: bounce 1s ease-in-out infinite;
}
.fo1 span, .fo3 span {
           transition: .5s ease-in-out;
           color: lightblue;
           text-shadow: 0px 1px 1px black;
}
@media screen and (max-width: 430px) {
           body {
                      background-color: black;
                      color: white;
           }
           * {
                      font-family: "Manufacturing Consent";
           }
           .style-title {
                      font-size: 15px;
                      font-family: "Manufacturing Consent";
           }
           .style-content {
                      font-size: 13px;
                      flex-wrap: wrap;
                      font-family: "Manufacturing Consent";
           }
           .style-button button {
                      width: 100px;
                      height: 40px;
           }
           .nav-container {
                      background-color: rgb(10, 10, 10);
                      color: white;
                      font-family: "Manufacturing Consent";
           }
}


